@{
    ViewBag.Title = "Home Page";
}
<style>
    .FooterBar {
        bottom: 0;
    }
</style>
<div class="HomeContent">
    <div class="IconHomeContent">
        🎓
    </div>
    <div class="HeaderHomeContent">
        Welcome to <br>
        HES Training Record System
    </div>
</div>